body
{
    background: rgb(241,141,242);
    background: linear-gradient(0deg, rgba(241,141,242,1) 33%, rgba(62,234,244,1) 91%);
    background-attachment: fixed;
    margin: 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}  

#form
{
    width: 400px;
    margin: 20vh auto 0 auto;
    background-color: whitesmoke;
    border-radius: 5px;
    padding: 30px;
}
h1
{
    text-align: center;
    color: #059df5;
}
#form button
{
    background-color: #059df5;
    color: white;
    border: 1px solid #059df5;
    border-radius: 3px;
    padding: 10px;
    margin: 20px 0px;
    cursor: pointer;
    font-size: 20px;
    width: 100%;
}
.input-group
{
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
}
.input-group input
{
    border-radius: 3px;
    font-size: 20px;
    margin-top: 5px;
    padding: 10px;
    border: 1px solid #f18df2;
}
.input-group input:focus
{
    outline: 0;
}
.error
{
    color: red;
    font-size: 16px;
    margin-top: 5px;
}
.input-group.success input
{
    color: lawngreen;
}
.input-group.error input
{
    color: red;
}